.main-forgot-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.container-forgot-password {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    padding: 40px 20px;
    text-align: center;
}

.container-forgot-password h1 {
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 1.5rem;
}

.forgot-password-form input {
    width: 100%;
    padding: 12px 0;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #000000;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s ease;
}

.forgot-password-form input:focus {
    outline: none;
    border-bottom-color: #333;
}

.forgot-password-form input::placeholder {
    color: #999;
}

button {
    width: 100%;
    padding: 12px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: xx-large;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2rem; 
}

button:hover {
    background-color: #555;
}

.terms {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
    font-size: 0.8rem;
    color: #666;
    text-align: center; 
}
